{
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 160,
  "plugins": ["prettier-plugin-tailwindcss"]
}
